body{
	background-color: white;
}
#container{
	width: 1330px;
	margin: 0 auto;
	background-color: white;	
}
header{
	height: 400px;
	background-image: url(baghlava.jpg);
	padding: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
header h2{
	margin: 0;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 60px;
	font-style: oblique;
}
nav ul {
	list-style-type: none;
	margin: 95px;
	margin-right: 20px;
	padding: 0;
	overflow: hidden;
}
nav li {
	float: right;
}
nav li a {
	background-color: #673131;
	display: block;
	color: white;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
	margin: 2px;
}
nav li a:hover {
	background-color: #3a2626;
}
footer{
	background-color: ;
	padding:30px;
}
footer p{
	margin-left: 40px;	
	color: white;
	font-size: 1.2rem
}	
footer ul{
	list-style-type: none;
	color: white;
	font-size: 1rem
}
.foodpic {
	width: 400px;
	margin: 0 120px;
	height: 500px;
}
.foodpic2 {
	width: 400px;
	margin: 0 120px;
	height: 380px;
}
#logo{
	margin; 0 0;
	width: 100px;
	height: 100px;
}
.one-column{
	
}
.two-column {
	display:grid;
	grid-template-columns: 50% 50%;
	padding: ; 
	background-color: white;
}
.two-column div{
	background-color:;
	margin-left: ;
	margin-right: ;
	position: center;
}
.two-column-left {
	padding-left 200px;	
}
.center{
	position: center;
	width: 500px;
	height: ;
	margin-left: 300px:
}
  .three-column{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-right: 0px;
    height: 100px;
    background-color: ;
}
.three-column div{
    background-color: ;
    margin-left: 30px;
    margin-right: 30px;
}
.btn {
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px
}
.btn-primary{
	background-color: #673131;
	color: white;
}
.btn-primary:hover{
	background: #3a2626;
}
.text{
	margin-left: 40px;
	margin-right: 40px;
}
